.intro__lists {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-style: normal;
  max-width: 690px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .intro__lists {
    max-width: 720px;
  }
}

@media screen and (max-width: 376px) {
  .intro__lists {
    max-width: 288px;
    max-height: 520px;
  }
}