.cover__subtitle {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  margin-top: 32px;
  margin: 32px 0 0;
}

@media screen and (max-width: 376px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}