.header__logo {
  max-height: 52px;
  max-width: 176px;
  margin-left: 48px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 24px;

  }
}

@media screen and (max-width: 376px) {
  .header__logo {
    margin-left: 16px;
    max-height: 42px;
    max-width: 142px;
  }
}