.place__paragraphs {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
      max-width: 440px;
    }
  }

  @media screen and (max-width: 840px) {
    .place__paragraphs {
      max-width: 350px;
    }
  }
  
@media screen and (max-width: 744px) {
    .place__paragraphs {
      max-width: 340px;
      font-size: 42px;
      line-height: 110%;
      margin: 0 auto 0 24px;
    }
}

@media screen and (max-width: 376px) {
    .place__paragraphs {
      max-width: 288px;
      font-size: 32px;
      line-height: 109%;
      margin: 0 auto 0 16px;
    }
}