.lead__image {
  width: 100%;
  align-items: center;
  margin: 64px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 56px auto 0;
    max-width: 928px;
    max-height: 580px;
  }
}

@media screen and (max-width: 376px) {
  .lead__image {
    margin: 40px auto 0;  
  }
}