.cover {
  background-image: url(../../images/cover-trains.jpg);
  display: flex;
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  z-index: 4;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 376px) {
  .cover {
    max-width: 376px;
    min-height: 200px; 
  }
}