.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  transition: background-color 1s, ease-in-out 0.5s;
}

.place__link:hover {
  opacity: 0.8;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .place__link {
    margin: 0 auto 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    margin: 0 auto 0 24px;
  }
}

@media screen and (max-width: 376px) {
  .place__link {
    margin: 0 auto 0 16px;
  }
}