.place {
  display: grid;
  box-sizing: border-box;  
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
  max-width: 984px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin: 0
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 940px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 452px;
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    max-width: 320px;
    grid-template-columns: 300px;
    grid-template-rows: 1fr;
    row-gap: 32px;
    margin-bottom: 50px;
  }
}