.place__url-heading {
  color: #AAAAAA;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
  .place__url-heading {
    margin: 0 auto 12px 0;
  }
}

@media screen and (max-width: 740px) {
  .place__url-heading {
    margin: 0 auto 12px 24px;
  }
}

@media screen and (max-width: 376px) {
  .place__url-heading {
    margin: 0 auto 12px 16px;
  }
}